.settings-mods {
    background-color: var(--background2-color);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .settings-mods h2 {
    color: var(--text-color);
    margin-bottom: 8px;
  }
  
  .settings-mods p {
    color: var(--text-light-color);
    margin-bottom: 12px;
  }
  
  .mods-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    padding: 8px;
    border-radius: 4px;
    background-color: var(--background-color);
  }
  
  .mod-option {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: var(--text-color);
  }
  
  .mod-option input {
    margin-right: 8px;
  }
  
  /* Scrollbar styling */
  .mods-list::-webkit-scrollbar {
    width: 6px;
  }
  
  .mods-list::-webkit-scrollbar-track {
    background: var(--background2-color);
  }
  
  .mods-list::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
  }
  
  .mods-list::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark-color);
  }